<html>

<head>
<title>Trade</title>
<link rsf:id="scr=portal-matter" href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
<link  rsf:id="scr=portal-matter" href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all" />
<script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
</head>

<body id="body">
<div class="portletBody">
	<!-- ?

	
$quantity= $_POST["quantity"];
if (strlen($quantity)==0) { $quantity=0; }
		#$quantity = quantity)


		if ($quantity<=0) {
		  echo  "<center><h1>You Must Enter a quantity greater than 0 in order to trade</h1></center>";
		}
}
? -->

	<p>Pending Transactions: if there are any, these will be processed
		later.</p>


	<p>
		<b>Manager's name:</b>
		<!-- ?=$_SESSION['firstname']? -->
		<!-- ?=$_SESSION['surname']? -->

	</p>

	<table width="100%" border="0">
		<thead>
			<tr>
				<td><b>Trade</b></td>
				<td><b>Quantity</b></td>
				<td><b>Time</b></td>
				<td><b>Motivation</b></td>
			</tr>
		</thead>
		<tbody>


			<tr>
				<td>
					<span rsf:id="tradeType"> tradetype</span>
				</td>
				<td>
					<span rsf:id="tradeQuantityt">tradequantity</span>
				</td>
				<td>
					<span rsf:id="tradeTimestamp">tradetimestamp</span>
				</td>
				<td>
					<span rsf:id="tradeMotivation">motivation</span>
				</td>
			</tr>

		</tbody>
	</table>


		<p><!-- commerce.php
			<a  type="submit" value="Continue..." name="B1">-->
					</p>
	
	</div>
</body>
</html>
