<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- We need this file to satisfy Spring, but we don't need anything in it since we use Wicket's dependency injection -->
   	<!-- handles configuration of internationalization messages -->
	<!--  <bean id="messageLocator" class="uk.org.ponder.springutil.SpringMessageLocator">
		<property name="messageSource">
			<bean
				class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
				<property name="basename">
					<value>WEB-INF/bundle/messages</value>
				</property>
				<property name="cacheSeconds">
					<value>10</value>
				</property>
			</bean>
		</property>
		<property name="localeGetter" ref="requestLocaleProxy" />
	</bean>-->

	<bean id="messageSource" class="org.sakaiproject.util.ResourceLoaderMessageSource"
		depends-on="TLABPostProcessorLoader">
		<property name="basename"
			value="classpath:org/sakaiproject/sharegame/bundle/Messages" />
		<property name="cacheSeconds" value="10" />
	</bean>
	<!-- Control the location of the html templates (default: content/templates/) -->
	<bean id="templateResolverStrategy" parent="CRITemplateResolverStrategy">
		<property name="baseDirectory" value="templates/" />
	</bean>
	
	<bean id="messageTemplateContributor" parent="templateContributorParent">
		<property name="baseDirectory" value="component-templates/" />
		<property name="templateNames"
			value="navbar" />
	</bean>
</beans>
